<!DOCTYPE html>
<html>
<head>
    <title>ログイン</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
  <div class="login-container">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Shifolio ロゴ">
    <h2>企業ログイン</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li style="color:red;">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('login') }}">
        <label>企業ID</label><br>
        <input type="number" name="company_id" required><br><br>

        <label>パスワード</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">ログイン</button>
    </form>
    <br>
    <a href="{{ url_for('register_company') }}">企業登録はこちら</a>
  </div>
</body>
</html>

